<div>
    <h1>Workouts:</h1>

    {{#each workouts}}
    <h3>{{workoutId}}: {{userId}}</h3>
    {{/each}}

    <h1>Add a Workout Item!</h1>
    <div>
        <form id="workouts" name="workouts" method="POST" action="/users/workouts">
            <div>
                <label htmlFor="workoutName">Workout Name: </label>
                <input type="text" name="workoutName"></input>
            </div>
            <div>
                <label htmlFor="noOfSets">Number of Sets: </label>
                <input type="number" name="noOfSets"></input>
            </div>
            <div>
                <label htmlFor="noOfReps">Number of Reps: </label>
                <input type="number" name="noOfReps"></input>
            </div>
            <div>
                <label htmlFor="noOfWeights">Number of Weights(lbs): </label>
                <input type="number" name="noOfWeights"  ></input>
            </div>
            <div>
                <button type="submit">Create Workout</button>
            </div>

        </form>
    </div>
</div>